@import '../../styles/colors';

.slide {
    height: 800px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    flex-direction: column;
    z-index: 10;

    &__q {
        width: 100%;
        height: fit-content;
        min-height: 200px;
        background-color: #3b3734;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        padding: 1rem;
        border-radius: 5px;
        text-align: center;
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 2rem;
    }

    &__box {
        width: 45%;
        height: fit-content;
        background-color: #616141;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        padding: 1rem;
        font-size: 1.3rem;
    }
}