@import '../../styles/colors';
@import '../../styles/fonts';
@import '../../styles/mixins';

.story {
    width: 100vw;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;

    &__board {
        height: 95%;
        max-height: 800px;
        max-width: 539px;
    }

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
       width: fit-content;

        position: relative;

        @include desktop {
            max-height: 800px;
            min-width: 500px
        }
    }

    &__write {
        height: 60%;
        width: 80%;
        background-color: white;
        position: absolute;
        top: 23%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include large{
            width: 65%;
        }
        @include large-desktop {
            width: 70%;
        }
    }

    &__title {
        font-size: 2.5rem;
        font-family: 'Roboto Bold';
        margin-bottom: 2rem;
        color: $text;
    }

    &__stage {
        font-size: 2rem;
        font-family: 'Roboto Mono';
        color: #424242;
        margin: 0;
        &--blur {
            @extend .story__stage;
            color: transparent;
            text-shadow: 0 0 5px rgba(0,0,0,0.5);
        }
        &--current {
            @extend .story__stage;
            cursor: pointer;
        }
    }

    &__check {
        width: 40px;
        height: 40px;
        border: 8px solid $text;
        border-radius: 5px;
        margin-right: 1rem;
        position: relative;
    }

    &__row {
        display: flex;
        min-width: 300px;
        width: fit-content;
        margin-bottom: 1.5rem;
    }

    &__mark {
        width: 40px;
        position: absolute;
        top: -10px;
    }
}