@import '../styles/colors';

.page {
    background-color: $bgLight;
    min-height: calc(100vh - 80px);
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    background: url('../assets/BG.jpg');
    background-position: center;
    background-size: cover;

    &__task {
        width: 150px;
        height: 150px;
        position: absolute;
        bottom: 2rem;
        left: 2rem;
        cursor: pointer;
    }

    &__alert {
        height: 40px;
        width: 40px;
        color: black;
        background-color: $accent;
        position: absolute;
        bottom: 130px;
        left: 130px;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 1.2rem;
    }
}