@import '../../styles/colors';
@import '../../styles/fonts';

.button {
    &__task {
        height: 150px;
        position: absolute;
        bottom: 2rem;
        left: 2rem;
        cursor: pointer;
    }

    &__alert {
        height: 40px;
        width: 40px;
        color: $text;
        font-family: 'Grobold';
        background-color: $accent;
        position: absolute;
        bottom: 140px;
        left: 120px;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 1.4rem;
    }
}

@keyframes larger {
	0% {
        height: 40px;
        width: 40px;
	}
	100% {
        height: 50px;
        width: 50px;
	}
}

.getBig {
    height: 40px;
    width: 40px;
	animation-name: larger;
	animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-direction: alternate;
	animation-duration: 0.7s;
}