@import '../../styles/colors';
@import '../../styles/fonts';

.button {
    &__task {
        height: 150px;
        position: absolute;
        bottom: 2rem;
        left: 2rem;
        cursor: pointer;
    }

    &__alert {
        height: 40px;
        width: 40px;
        color: #424242;
        font-family: 'Grobold';
        background-color: #ffef00;
        position: absolute;
        bottom: 140px;
        left: 120px;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 1.4rem;
    }
}