@import '../../styles/fonts';
@import '../../styles/colors';

.bar {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $accent;

    &__title {
        font-family: 'Roboto Mono';
        font-size: 2.5rem;
        color: $text;
        text-align: center;
        margin: 0;
    }

    &__box {
        width: 98%;
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 2px solid white;
    }

    &__slant {
        font-style: italic;
        color: $text;
    }
}