@import '../../styles/fonts';
@import '../../styles/colors';

.complete {
    width: 600px;
    height: 400px;
    background: url('../../assets/Paper-3.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    z-index: 10;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 3rem 0 2rem 0;

    &__wrap {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 1.5rem;
        align-self: flex-end;
        margin-top: 1rem;
    }

    &__button {
        background-color: $text;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3rem;
        width: 7rem;

        &:hover {
            cursor: pointer;
        }

        &:focus {
            box-shadow: inset 1px 1px 10px black;
        }
    }

    &__prompt {
        padding: 0 1rem;
        text-align: center;
        font-size: 1.5rem;
    }
}