@font-face {
    font-family: 'Roboto Mono';
    src: url('../assets/Roboto-Mono/RobotoMono-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('../assets/Roboto-Mono/RobotoMono-Bold.ttf');
}

@font-face {
    font-family: 'Grobold';
    src: url('../assets/GROBOLD.ttf');
}
